---
import PrimaryCTA from "../../components/common/PrimaryCTA.astro";
import PostCardDesc from "./PostCardDesc.astro";
import RemoteImage from "../common/RemoteImage.astro";

const { feat } = Astro.props;
---

<section class="my-10">
  <div class="relative">
    <RemoteImage src={feat.data.cover} alt={feat.data.title} />"

    <div
      class="absolute bottom-0 justify-between items-baseline bg-spc-dark-green/40 backdrop-blur-lg flex w-full py-3 px-6 text-spc-light"
    >
      <h2 class="font-bold text-xl">{feat.data.title}</h2>
      <p class="text-gray-200 font-mono text-sm">
        {
          feat.data.pubDate.toLocaleDateString("en-US", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </p>
    </div>
  </div>

  <div class="px-6">
    <PostCardDesc desc={feat.data.desc} />
  </div>

  <div class="px-6 my-4">
    <PrimaryCTA text="read featured." url={feat.slug} />
  </div>
</section>
