---
import PostCardDesc from "../../components/patrician-publications/PostCardDesc.astro";
import RemoteImage from "../../components/common/RemoteImage.astro";

const { imgSrc, title, date, desc } = Astro.props;
---

<article
  class="px-6 my-8 hover:bg-[#393939]/40 py-4 transition-colors duration-300 ease-out"
>
  <a href="/">
    <RemoteImage src={imgSrc} alt={title} />
    <div class="flex justify-between items-baseline my-3">
      <h3 class="font-bold text-lg">{title}</h3>
      <p class="font-mono text-[10px]">{date}</p>
    </div>

    <PostCardDesc desc={desc} />
  </a>

  <div class="w-[5px] h-[5px] bg-[#393939]/40 rounded-full mx-auto"></div>
</article>
