---
import "@fontsource/playfair-display/700.css";
import SPCLogo from "./SPCLogo.astro";
import MobileNavigationMenu from "./MobileNavigationMenu.astro";
import {NEW_NAVS} from "@config/navigation";

const {now, title} = Astro.props;
---

<header class="xl:hidden"
>

    <a href="/">
        <div class="flex items-center justify-center w-full space-x-4 pt-10 pb-8 border-b border-b-spc-light/10 mb-8 md:space-x-6">
            <SPCLogo dim={120}/>
            <h1
                    class="font-serif text-3xl font-bold text-spc-light text-left"
                    set:html={title}
            />
        </div>
    </a>
    <MobileNavigationMenu manifest={NEW_NAVS}/>
</header>

<header class="xl:block hidden my-12 text-spc-light">
    <div class="flex justify-around align-center my-8 w-full">
        <SPCLogo dim={120}/>
    </div>
    <nav class="px-16">
        <div x-data={`{ navs: ${JSON.stringify(NEW_NAVS)} }`}
             class="flex justify-around items-center space-x-4"
        >
            <template x-for="nav in navs" :key="nav.title">
                <ul>
                    <div x-data="{ open: false }" class="relative inline-block text-left group" @mouseover="open = true"
                         @mouseleave="open = false">
                        <template x-if="nav.children.length > 0">
                            <div>
                                <!-- Dropdown Button -->
                                <button x-on:click="open = !open" type="button"
                                        class="inline-flex w-full justify-center gap-x-1.5 rounded-sm px-3 py-2 text-sm font-semibold group-hover:underline group-hover:underline-offset-4"
                                        id="menu-button" aria-expanded="true" aria-haspopup="true">
                                    <span x-text="nav.title"></span>
                                    <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor"
                                         aria-hidden="true">
                                        <path fill-rule="evenodd"
                                              d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                </button>
                                <!-- Dropdown Menu -->
                                <div x-show="open" x-transition:enter="transition ease-out duration-100"
                                     x-transition:enter-start="transform opacity-0 scale-95"
                                     x-transition:enter-end="transform opacity-100 scale-100"
                                     x-transition:leave="transition ease-in duration-75"
                                     x-transition:leave-start="transform opacity-100 scale-100"
                                     x-transition:leave-end="transform opacity-0 scale-95"
                                     class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-sm bg-spc-sea shadow-lg text-spc-light ring-1 ring-black ring-opacity-5 focus:outline-none"
                                     role="menu" aria-orientation="vertical" aria-labelledby="menu-button"
                                     tabindex="-1">
                                    <div class="py-1" role="none">
                                        <template x-for="child in nav.children" :key="child.title">
                                            <a :href="`/${nav.link}/${child.link}`"
                                               class="text-black font-bold block px-4 py-2 text-sm spc-light hover:bg-spc-gold"
                                               role="menuitem" tabindex="-1" x-text="child.title"></a>
                                        </template>
                                    </div>
                                </div>
                            </div>
                        </template>
                        <template x-if="nav.children.length === 0">
                            <a :href="`/${nav.link}`"
                               class="inline-flex w-full justify-center gap-x-1.5 rounded-md px-3 py-2 text-sm font-semibold group-hover:underline group-hover:underline-offset-4"
                               x-text="nav.title"></a>
                        </template>
                    </div>
                </ul>
            </template>

            <!--<div class="w-12 h-12 rounded-full bg-pink-200 overflow-hidden object-cover">-->
            <!--  <img src="https://w0.peakpx.com/wallpaper/652/273/HD-wallpaper-city-anime-profile-tears-crying.jpg" alt="profile-picture">-->
            <!--</div>-->
        </div>
    </nav>
    <hr class="mt-4 border-spc-light/20"/>
</header>
